<h1>Agents</h1>
<p>Use the following page to view, add, edit, or delete agents.</p>
[ <a href="/">Home</a> | <a href="/agents">Agents</a> | <a href="properties.html">Properties</a> | <a href="sellers.html">Sellers</a> | <a href="transactions.html">Transactions</a> | <a href="/agent_listings">Agent-Property</a> ]
<table id="agents-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.AgentID}}">
            <td>{{this.AgentID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Phone}}</td>
            <td>{{this.Territory}}</td>
            <td>{{this.HireDate}}</td>
            <td><button onclick="deleteAgent({{this.AgentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h2>Add New Agent</h2>
<p>To add a new agent, please enter their information below and click `Submit`!</p>
<form id="add-agent-form" method="POST" action="/add-agent-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name" required>
    
    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone" required>
    <label for="input-territory">Territory: </label>
    <select name="input-territory" id="input-territory" required>
        <option value="North">North</option>
        <option value="South">South</option>
        <option value="East">East</option>
        <option value="West">West</option>
    </select>
    <label for="input-hiredate">Hire Date: </label>
    <input type="date" name="input-hiredate" id="input-hiredate" required>
    <input type="submit" value="Submit">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/delete_agent.js"></script>
<h2>Update Agent Information</h2>
<p>Select an agent from the drop-down menu and update their details.</p>
<form id="update-agent-form-ajax">
    <label for="input-agent">Agent: </label>
    <select name="input-agent" id="agentSelect">
        <option value="">Select an Agent</option>
        {{#each data}}
        <option value="{{this.AgentID}}">{{this.Name}}</option>
        {{/each}}
    </select>
    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone-update" required>
    <label for="input-territory">Territory: </label>
    <select name="input-territory" id="input-territory-update" required>
        <option value="North">North</option>
        <option value="South">South</option>
        <option value="East">East</option>
        <option value="West">West</option>
    </select>
    <label for="input-hiredate">Hire Date: </label>
    <input type="date" name="input-hiredate" id="input-hiredate-update" required>
    <input type="submit" value="Update">
</form>
<script src="/js/update_agent.js"></script>